* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 0 16px;
}

.todo-main {
    max-width: 420px;
    margin: 0 auto;
}

.todo-form {
    padding: 20px;
    display: flex;
    gap: 5px;
}

#todo-text {
    font-size: 18px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #cdcdcd;
    width: 100%;
}

.todo-form button[type=submit] {
    text-wrap: nowrap;
    border-radius: 6px;
    padding: 6px;
    border: 1px solid #cdcdcd;
}

.todo-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.todo-list--item {
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid #cdcdcd;
    border-radius: 6pxs;
    padding: 10px;
}

.todo-list--item-text {
    font-size: 20px;
    cursor: pointer;
    flex-grow: 1;
}

.todo-list--item-text__active {
     text-decoration: line-through;
}

.todo-list--item-button {
    border: 1px solid #EE6666;
    border-radius: 6px;
    padding: 5px;
    background: #fda7a7;
    cursor: pointer;
}